* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    font-family: "Inter Variable", sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #95d5b2;
    padding: 1rem 2rem;

    .logo {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        font-size: 1.5rem;
        font-weight: bold;

        img {
            height: 4.43rem;
        }
    }
}
